<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit CoachGround</title>
</head>
<body>
    <form action="/coachgrounds/<%=coachground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="coachground[title]" value="<%=coachground.title%>">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="coachground[location]" value="<%=coachground.location%>">
        </div>
        <button>Update CoachGround</button>
    </form>
    <a href="/coachgrounds/<%=coachground._id%> ">Back to CoachGround</a>
</body>
</html>