<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoachGround</title>
</head>
<body>
    <a href="/coachgrounds/new">ADD A COACH-GROUND</a>
    <h1>All CoachGrounds</h1>
    <ul>
        <% for(let coachground of coachgrounds) { %>
            <li> <a href="/coachgrounds/<%=coachground._id%>"><%=coachground.title%> </a> </li>
        <% } %>
    </ul>
</body>
</html>