<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New CoachGround</title>
</head>
<body>
    <form action="/coachgrounds" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="coachground[title]">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="coachground[location]">
        </div>
        <button>Add CoachGround</button>
    </form>
    <a href="/coachgrounds">Cancel</a>
</body>
</html>